In [1]:
import pandas as pd
import Utilidades as ut

In [2]:
df_review = pd.read_csv('../Datos/Archivos csv/review.csv')
df_review

,review_id,user_id,business_id,stars,useful,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,10,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

Creamos una copia del DataFrame por si debemos usar los datos originales mas adelante

In [3]:
df_copia = df_review.copy()

***Filtramos el DataFrame, quedandonos con los registros relacionados al comercio de nuestro interes; McDonald's en el estado Florida***

Primero cargaremos el dataset 'ETL_business' que contiene los registros de McDonald's en el estado Florida

In [4]:
df_business = pd.read_csv('../Datos/Archivos csv/ETL_business.csv')
df_business.head(2)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,A1lAqN3SOaBLoo6NqVcy4Q,McDonald's,11110 Causeway Blvd,Brandon,FL,33511.0,27.925332,-82.325395,2.0,6,1,"Sandwiches, Burgers, Food, Fast Food, Restaura..."
1,cwvpVlg5BE2XXRWTHe3p9w,McDonald's,3110 Sr 674,Sun City Center,FL,33570.0,27.713705,-82.392943,2.0,24,1,"Food, Burgers, Coffee & Tea, Fast Food, Restau..."

Filtramos el DataFrame 'df_reviews' por todos los id del DataFrame 'df_business'

In [5]:
df_review_filtrado = df_review[df_review['business_id'].isin(df_business['business_id'])]

In [6]:
df_review_filtrado

,review_id,user_id,business_id,stars,useful,text,date
4831,Zk933FCpRBYEuDa8IqawLg,JzP12XMyN9xHb_ppDE1BBw,_3VCzu9a79nrU0YA-WvUCg,2,0,"I agree with some of the previous reviews, whi...",2017-01-14 22:39:40
5904,JiW_sK75lngFUy5FWh5CaQ,k9QNgEGs8BuuJpnIRhAFfQ,CxoRg-ZcXdpqXWmUJliYog,1,0,The manager of this McDonalds needs to teach t...,2017-09-20 16:05:03
6151,0ZDgmVQfsEyngSEBErdfzQ,8N9pm6Z-Pumo5Jb7SGaTFQ,g_0U8kzf5iTMJ-I9E3MWlA,1,0,Recently moved near this McDonalds location. W...,2018-07-26 14:43:53
6998,mh3kqaJJ6ISCyoXnAHtRKg,xcHRv038Y1rMVGUY1VNibw,g_0U8kzf5iTMJ-I9E3MWlA,1,0,I went to the drive thru hopefully I can get s...,2018-02-24 05:30:31
7800,Xj9EYqp4oN23rRo9geHQJA,xNhjKUHsvOXQTrz_KD2Huw,V2hqC0b1d6Yn0JMGg4DCPA,4,0,Never thought I'd decide to review a Mc Donald...,2017-01-15 01:27:42
...,...,...,...,...,...,...,...
6980032,lfy60N-ZbsV67Qxj6-5kmw,rohkDojGTImKWmiODv2PPg,oVMf5FvsD7_HmBc3B62Zxw,1,0,I see why this place has 1 star!! 3.42$ for a ...,2021-08-15 21:04:29
6983069,lKm7bwWYkUcMJEK5Bt4ssg,wdfquNCmjcK6cuUXVBiSnw,8PKxsbyRIPfhe0KMiBYuyg,1,0,I totally fail at understanding when is accept...,2019-06-04 21:52:18
6983376,X406n79OeqbtU1zMGUW-Fw,7hhVHyo8TWhXIee6C-WSvg,oVMf5FvsD7_HmBc3B62Zxw,3,0,I went to McDonalds and got all my food fast m...,2020-12-30 16:33:40
6987049,DrHWTNH2NddpIbQR5ySeAg,znwBa7fLgjBmDe57FFYplw,lgoYB3YiKPBkMq51nv0wPA,1,0,Very bad customer service ... it's been 4 tim...,2020-10-17 12:58:05
6987171,vUn8fxy-gdWV1tuWjNUxbg,b8UTgH3xcsnmcRWsErFAyw,lgoYB3YiKPBkMq51nv0wPA,1,0,"Well, I had three friends with me, first, my f...",2018-12-23 22:22:59

Verificamos el tipo de dato de las columnas y si contienen valores nulos

In [6]:
ut.tipo_dato(df_review_filtrado)

       columna        tipo_dato  porcentaje_nulos
0    review_id  [<class 'str'>]               0.0
1      user_id  [<class 'str'>]               0.0
2  business_id  [<class 'str'>]               0.0
3        stars  [<class 'int'>]               0.0
4       useful  [<class 'int'>]               0.0
5         text  [<class 'str'>]               0.0
6         date  [<class 'str'>]               0.0

Cambiamos el tipo de dato de la columna 'date'

In [7]:
df_review_filtrado.loc[:,'date'] = pd.to_datetime(df_review_filtrado['date'])

Cambiamos el nombre de la columna **stars**, por **rating**:

In [11]:
df_review_filtrado.rename(columns={'stars':'rating'}, inplace=True)

C:\Users\ferna\AppData\Local\Temp\ipykernel_18400\135017595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_review_filtrado.rename(columns={'stars':'rating'}, inplace=True)

Reseteamos el indice del DataFrame

In [12]:
df_review_filtrado.reset_index(drop = True, inplace = True)

In [13]:
ut.tipo_dato(df_review_filtrado)

,columna,tipo_dato,porcentaje_nulos
0,review_id,[<class 'str'>],0.0
1,user_id,[<class 'str'>],0.0
2,business_id,[<class 'str'>],0.0
3,rating,[<class 'int'>],0.0
4,useful,[<class 'int'>],0.0
5,text,[<class 'str'>],0.0
6,date,[<class 'pandas._libs.tslibs.timestamps.Timest...,0.0

In [14]:
df_review_filtrado

,review_id,user_id,business_id,rating,useful,text,date
0,Zk933FCpRBYEuDa8IqawLg,JzP12XMyN9xHb_ppDE1BBw,_3VCzu9a79nrU0YA-WvUCg,2,0,"I agree with some of the previous reviews, whi...",2017-01-14 22:39:40
1,JiW_sK75lngFUy5FWh5CaQ,k9QNgEGs8BuuJpnIRhAFfQ,CxoRg-ZcXdpqXWmUJliYog,1,0,The manager of this McDonalds needs to teach t...,2017-09-20 16:05:03
2,0ZDgmVQfsEyngSEBErdfzQ,8N9pm6Z-Pumo5Jb7SGaTFQ,g_0U8kzf5iTMJ-I9E3MWlA,1,0,Recently moved near this McDonalds location. W...,2018-07-26 14:43:53
3,mh3kqaJJ6ISCyoXnAHtRKg,xcHRv038Y1rMVGUY1VNibw,g_0U8kzf5iTMJ-I9E3MWlA,1,0,I went to the drive thru hopefully I can get s...,2018-02-24 05:30:31
4,Xj9EYqp4oN23rRo9geHQJA,xNhjKUHsvOXQTrz_KD2Huw,V2hqC0b1d6Yn0JMGg4DCPA,4,0,Never thought I'd decide to review a Mc Donald...,2017-01-15 01:27:42
...,...,...,...,...,...,...,...
3156,lfy60N-ZbsV67Qxj6-5kmw,rohkDojGTImKWmiODv2PPg,oVMf5FvsD7_HmBc3B62Zxw,1,0,I see why this place has 1 star!! 3.42$ for a ...,2021-08-15 21:04:29
3157,lKm7bwWYkUcMJEK5Bt4ssg,wdfquNCmjcK6cuUXVBiSnw,8PKxsbyRIPfhe0KMiBYuyg,1,0,I totally fail at understanding when is accept...,2019-06-04 21:52:18
3158,X406n79OeqbtU1zMGUW-Fw,7hhVHyo8TWhXIee6C-WSvg,oVMf5FvsD7_HmBc3B62Zxw,3,0,I went to McDonalds and got all my food fast m...,2020-12-30 16:33:40
3159,DrHWTNH2NddpIbQR5ySeAg,znwBa7fLgjBmDe57FFYplw,lgoYB3YiKPBkMq51nv0wPA,1,0,Very bad customer service ... it's been 4 tim...,2020-10-17 12:58:05
3160,vUn8fxy-gdWV1tuWjNUxbg,b8UTgH3xcsnmcRWsErFAyw,lgoYB3YiKPBkMq51nv0wPA,1,0,"Well, I had three friends with me, first, my f...",2018-12-23 22:22:59